.pizzeria-container {
    position: relative;
    margin: 8px;
    width: 256px;
    height: 256px;
    border: 1px solid #ddd;
    display: inline-block;
    background-size: 68% 68%;
    background: url('../../Images/house.png') no-repeat center center;
    line-height: 1.7em;
}

.pizzeria-container-small {
    width: 128px;
    height: 128px;
    background-size: 48% 48%;
}

.pizzeria-content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
    text-align:center;
}

.pizzeria-name {
    font-weight: bold;
    font-size: 1.2em;
}

.pizzeria-edit {

}

label.pizzeria-selector, a.pizzeria-selector {
    display: inline-block;
}

label.pizzeria-selector > input {
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label.pizzeria-selector > input + div, a.pizzeria-selector > div {
    cursor:pointer;
    border:2px solid #ddd;
}
label.pizzeria-selector > input:checked + div, a.pizzeria-selector > div.pizzeria-selected {
    border:2px solid #f0ad4e;
}

input.error, textarea.error, select.error {
    outline: orangered solid 2px;
    color: #363636;
}

.booking-changed {
    color: #946C22;
}

.booking-inactive {
    text-decoration: line-through;
    color: #555555;
}
